<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="/fragments/resources :: head"></th:block>
  <title>Books</title>
</head>
<body>
<th:block th:replace="/fragments/navbar :: navbar('books', ${keyword}, true)"></th:block>
<div class="container">
  <h1>Books <a th:href="@{/books/create}" class="btn btn-primary rounded-circle" title="add book"><i
      class="fa-solid fa-plus"></i></a></h1>
  <!-- leggo la variabile message (flashAttribute) -->
  <th:block th:if="${message}">
    <div th:replace="~{/fragments/messages :: alert(${message.type}, ${message.text})}"></div>
  </th:block>
  <!-- books table only if list is not empty -->
  <table class="table" th:if="${list.size() > 0}">
    <thead>
    <tr>
      <th>Title</th>
      <th>Authors</th>
      <th>Publisher</th>
      <th>Year</th>
      <th>Available copies</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${list}" th:object="${book}">
      <td th:text="*{title}"></td>
      <td th:text="*{authors}"></td>
      <td th:text="*{publisher}"></td>
      <td th:text="*{year}"></td>
      <td th:text="*{availableCopies}"></td>
      <td>
        <a th:href="@{|/books/*{id}|}" class="btn btn-primary btn-sm" title="detail"><i
            class="fa-solid fa-book"></i></a>
        <a th:href="@{|/books/edit/*{id}|}" class="btn btn-primary btn-sm" title="edit"><i
            class="fa-solid fa-pen-to-square"></i></a>
        <a
            th:if="${book.borrowings == null || book.borrowings.size() == 0}"
            th:href="@{|/books/delete/*{id}|}"
            class="btn btn-primary btn-sm"
            title="edit"><i
            class="fa-solid fa-trash-can"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <!-- alert only if list is empty -->
  <th:block th:unless="${list.size() > 0}">
    <div th:replace="~{/fragments/messages :: alert('INFO', 'The list is empty')}"></div>
  </th:block>
</div>

</body>
</html>